/*Start color */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: #0075ff;
}
.bg-green {
  background-color: #22c55e;
}
.bg-orange {
  background-color: #f59e0b;
}
.bg-red {
  background-color: #f44336;
}
.c-black {
  color: black;
}
.c-gray {
  color: gray;
}
.c-white {
  color: white;
}
.c-blue {
  color: #0075ff;
}
.c-green {
  color: #22c55e;
}
.c-orange {
  color: #f59e0b;
}
.c-red {
  color: #f44336;
}
/*End color */
/* Start padding margin ... */
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.p-0 {
  padding: 0;
}
.pt-10 {
  padding-top: 10px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-10 {
  padding-bottom: 10px;
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
/* End padding margin ... */
/* Start display */
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.flexd-column {
  flex-direction: column;
}
.wrap-wrap {
  flex-wrap: wrap;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-40 {
  gap: 40px;
}
.align-c {
  align-items: center;
}
.justify-c {
  justify-content: center;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.d-grid {
  display: grid;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .d-block-mobile {
    display: block;
  }
}
/* End display */
/* Start size */
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-26 {
  font-size: 26px;
}
.fw-bold {
  font-weight: bold;
}
/* End Start size */
/* Strat position */
.txt-c {
  text-align: center;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End position */
/*Start  border */
.border-none {
  border: none;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.border-b {
  border-bottom: 1px solid #eee;
}
/*End  border */
/*Start width + height ...*/
.w-40 {
  width: 40px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-4 {
  height: 4px;
}
/* End width + height ...*/
/* Start Component */
.space-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}
.btm-s {
  padding: 5px 10px;
  margin: 0 15px 15px auto;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cursor-p {
  cursor: pointer;
}
/* End Component */
